<p id="notice" class="alert success"><%= notice %> </p>
<p>
  <strong>Pregunta:</strong>
<%= @question.text %>
</p>
<h4>Respuestas</h4>
<ul>
  <% @question.choices.find_each do |choice| %>
  <li>
    <%= choice.text%>
    <% if choice.correct == 1 %>(Correct) <% end %>
    <% form_tag({:controller => 'choices', :action => 'destroy'}) do %>
        <%= hidden_field_tag :question,@question.id %>
        <%= hidden_field_tag :choice,choice.id %>
        <%= submit_tag 'Delete' %>
        <% end %>
  </li>
      <% end %>
</ul>
<h5>Nueva Pregunta</h5>
<%= form_tag({:controller => 'choices', :action => 'create'}) do %>
<%= hidden_field_tag :question,@question.id %>
<%= label_tag :text, 'Pregunta'%><br/>
<%= text_field_tag :text%><br/>
<%= check_box_tag :correct %>Correcto<br/>
<br/>
<%= submit_tag 'Crear', class: 'success button'%>
<% end %>
<%= link_to 'Editar', edit_question_path(@question),class: 'warning button' %>|
<%= link_to 'Atras', questions_path,class: 'secondary button' %>
<% content_for(:title) do %>
    Question Details
<% end %>
