<h1>Edición Estado</h1>

<%= form_for :estado, url: estado_path(@estado), method: :patch do |f| %>
    <% if @estado.errors.any? %>
    <div id="error_explanation">
      <h2>
        error(es) prohibido(s) para que sea guardado el estado
      </h2>
        <ul>
          <% @estado.errors.full_messages.each do |msg| %>
            <li>
             <%= msg %>
            </li>
          <% end %>
        </ul>
    </div>
    <%end%>
  <p>
    <%= f.label :nombre %><br/>
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.label :pais %><br/>
    <%= f.text_field :pais %>
  </p>
  <%= f.submit 'Registrar estado' %>
<% end %>